name: publish

on: [push]

jobs:
  publish-chrisbot-docker-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the chrisbot Docker image
        run: |
          docker build . --tag ghcr.io/${{ github.repository_owner }}/gobot:latest
          docker push ghcr.io/${{ github.repository_owner }}/gobot:latest
